<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Practiceswiftbasicapps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9435859527EDD594007BE176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943585AC27EDD597007BE176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943585B727EDD598007BE176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
